*{
  font-family: 'Barlow Condensed', sans-serif;
}

.hidden{
  display:none;
}

h1{
  text-align: center;
  padding-left: 15px;
  color:rgb(255, 255, 255);
  border: 2 px solid grey;
  margin:5px;
  background-color: rgb(58, 147, 177);
}

.new-bookmark-button{
  border: 2 px solid black;
  background-color: grey;
  text-align: center;
  display: inline;
  align-items: center;
  padding: 10px;
  margin:10px;
  cursor: pointer;
  color: white;
}

.minimum-rating{
  border: 2 px solid black;
  background-color: grey;
  text-align: center;
  display: inline;
  align-items: center;
  padding: 10px;
  margin:10px;
  cursor: pointer;
  color: white;
}

.main-headers{
  display: flex;
  justify-content: center;
}

li{
  list-style-type: none;
  display: flexbox;
  padding: 10px;
  border: 1px solid red;
  font-size: 15px;
  align-items: stretch;
  justify-content: left;
  cursor: pointer;
}
.bookmark-rating{
 align-self: flex-end;
}

.bookmark-element{
  display:block;
  width: 400px;
  border:2 px solid grey;
  cursor: pointer;

}
